*{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* f kula page hadi darouri */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    /* darouri */
    width: 100%;
    position: fixed;
    z-index:999;
    display: flex;
    /* */
    justify-content: space-between;
    /* pic wla texte f toul centre  */
    align-items: center;
    padding: 10px 200px;
}
.name{
    /* ila kan lien yt7ayed ligne  */
    text-decoration: none;
    color: #3a6cf4;
    /* ketba majuscule */
    text-transform: uppercase;
    /* */
    font-weight: 700;
    font-size: 30px;
}
.navicon a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    /* binathum espace */
    padding-left: 10px;
    text-transform: uppercase;
}
.navicon a:hover{
    color: brown;
}
.sec{
    padding: 100px 100px;
    width: 100%;
    /* la page 100 */
    min-height: 100vh; 
    display: flex;
    align-items: center;
    background:url(image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sec h2{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.sec h3{
    color:#3a6cf4; 
    font-size: 30px;
    font-weight: 700;
    /* espace entre les lettres*/
    letter-spacing: 1px;
    

}
.icon a{
    color:#fff;
    font-size: 30px;
    padding-left: 10px;
    
    
}
.id{
    font-weight: 800;
    padding: 0;
    
}
.id{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    display:inline-block;
    padding: 10px ;
    border-radius: 20px;
    margin-bottom: 40px;
    /* effet sur la button*/
    transition: 0.5s ease;

}
.id:hover{
    background-color: #3a6cf4;
    /*slowmoshen*/
    transform: scale(1.1);
}
.title{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 32px;
    font-weight: 700;
    /*espace entre les chose ene haut et en bas*/
    margin-top: 20px;
    margin-bottom: 10px;
}
.content{
    display: flex;
    /*katkhelli les icones f centre*/
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}
.card{
    background-color: #fff;
    width: 350px;
    box-shadow: 0 5px 25px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: 0.5s ease;
    /* width: 100%; */
}
.card:hover{
    transform: scale(1.1);
}
p{
    letter-spacing: 1px;
}
.ic{
    text-align: center;
    color: #3a6cf4;
    font-size:100px ;
}
.co{
    /* background-image: url(image.jpg); */
    background-color:  #000016;
}
.titre{
    text-align: center;
    color: #3a6cf4;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.p{
    font-weight: 700;
    text-align: center;
}
.info h3{
    text-align: center;
}
.carte{
    background-color: #fff;
    width: 350px;
    box-shadow: 0 5px 25px rgb(195, 197, 201);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: 0.5s ease;
}
.carte:hover{
    transform: scale(1.1);
}
